@model Idea.Models.NIdea

@{
    ViewData["Title"] = "Details";

    var Comments = (List<Comment>)ViewData["Comments"];
}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item text-sm text-white active" aria-current="page"><a asp-action="ViewIdeas" asp-route-submissionid="@Model.SubmissionId">View Ideas</a></li>
            </ol>
            <h6 class="font-weight-bolder text-white mb-0">Idea Details</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                    <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                            <i class="sidenav-toggler-line bg-white"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
<div class="container-fluid py-4">
    <div class="row" style="justify-content:center;">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12 mb-lg-0 mb-4">
                    <div class="card mt-4">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-6 d-flex" style="flex-direction:column;">
                                    <h6 class="mb-0 text-danger">@Html.DisplayNameFor(model => model.Title)</h6>
                                    <div class="card card-body card-plain border-radius-lg d-flex align-items-center flex-row">
                                        <h6 class="mb-0">@Html.DisplayFor(model => model.Title)</h6>
                                    </div>
                                </div>
                                <div class="col-6 d-flex" style="flex-direction:column;">
                                    <h6 class="mb-0 text-danger">@Html.DisplayNameFor(model => model.Category)</h6>
                                    <div class="card card-body card-plain border-radius-lg d-flex align-items-center flex-row">
                                        <h6 class="mb-0">@Html.DisplayFor(model => model.Category.Name)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-6 d-flex" style="flex-direction:column;">
                                    <h6 class="mb-0 text-info">@Html.DisplayNameFor(model => model.Brief)</h6>
                                    <div class="card card-body card-plain border-radius-lg d-flex align-items-center flex-row">
                                        <h6 class="mb-0">@Html.DisplayFor(model => model.Brief)</h6>
                                    </div>
                                </div>
                                <div class="col-6 d-flex " style="flex-direction:column;">
                                    <h6 class="mb-0 text-info">@Html.DisplayNameFor(model => model.FilePath)</h6>
                                    <div class="card card-body card-plain border-radius-lg d-flex align-items-center flex-row">
                                        <h6 class="mb-0">@Html.DisplayFor(model => model.FilePath)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-6 d-flex " style="flex-direction:column;">
                                    <h6 class="mb-0 text-info">@Html.DisplayNameFor(model => model.Content)</h6>
                                    <div class="card card-body card-plain border-radius-lg d-flex align-items-center flex-row">
                                        <h6 class="mb-0">@Html.DisplayFor(model => model.Content)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header pb-0 p-3">
                            <div class="row" style="flex-direction:row-reverse;">
                                <div class="col-6 d-flex" style="flex-direction:row-reverse;">
                                    <h6 class="fas fa-eye text-primary me-2 mb-0">@Html.DisplayNameFor(model => model.View) @Html.DisplayFor(model => model.View)</h6>
                                </div>
                            </div>
                        </div>
                        @if (Model.Submission.Deadline_2 >= DateTime.Now)
                        {
                            <form asp-action="Comment">
                                <div class="row">
                                    <div class="form-group" style="display:flex;margin-top:1rem;">
                                            <input type="hidden" name="IdeaId" value="@Model.Id" />
                                            <input type="text" class="form-control" placeholder="Comment" name="Content">
                                        <button class="btn btn-success btn-sm ms-auto  " type="submit" style="margin-top:1rem;">Comment</button>
                                        </div>
                                </div>
                            </form>
                        }
                        @foreach (var comment in Comments)
                        {
                              <hr />
                              <div>(@comment.Created_Date) - @comment.Content</div>
                        }

                              <hr />

                        <div class="form-group" style="display:flex;">
                            <a class="btn btn-danger btn-sm ms-auto  " asp-action="ViewIdeas" asp-route-submissionid="@Model.SubmissionId">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>